{:source-paths
 ["src"]

 :nrepl {:port 9000}

 :dependencies
 [[cider/cider-nrepl "0.25.8"]
  [reagent "1.0.0"]
  [re-frame "1.1.2"]]

 :builds {:app {:target     :browser
                :output-dir "public/js"
                :modules    {:main {:entries [financial_health_dashboard.core]}}
                :devtools   {:http-root "public"
                             :http-port 3000}
                :release    {:compiler-options {:optimizations :simple}}}}}
